
.container {
    position: relative;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2);
    background-color: #ffffff;
    user-select: none;
    padding: 10px 0;
}
.container.noEffect {
    box-shadow: none;
    background-color: transparent;
}

.contentBox {
    padding: 0 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}