
:global(.dataTable .ant-table-thead > tr > th) {
    padding: 8px;
}
:global(.dataTable  .ant-table-tbody > tr > td) {
    padding: 8px;
}
:global(.hideBody .ant-table-placeholder) {
    display: none;
}

.tableWrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;;
}
.tableBody {
    overflow: auto;
}
.itemContent {
    flex: 0 0 300px;
    border-top: 1px solid #dddddd;
    display: flex;
    overflow: hidden;
}
.commentsContent {
    flex: 0 0 400px;
    overflow: auto;
    border-right: 1px solid #dddddd;
    padding: 10px;
}
.remarkContent {
    flex: 1 1 auto;
    padding: 10px;
    overflow: auto;
}

.messageSpan {
    white-space: nowrap;
}
:global(.tabulator) {
    border: none;
}
/* :global(.tabulator-tableHolder) {
    background-color: #ffffff;
} */