
.container {
    margin-top: 10px;
}
.container:hover .metaBlock {
    visibility: visible;
}
.meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.metaBlock {
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
    visibility: hidden;
}
.metaBlock:last-child {
    margin-left: 0;
}
.metaItem {
    margin-left: 24px;
}
.metaItem:first-child {
    margin-left: 0;
}
.markdownBody {
    overflow: hidden;
}