.markdownBody > [data-sourcepos]:hover {
    outline: 10px solid wheat;
    background-color: wheat;
    cursor: pointer;
}
.markdownBody > h2:first-child {
    border-bottom-color: transparent;
}
.markdownBody {
    padding: 0 15px;
}