
.container {
    padding-bottom: 30vh;
}
.logContentBox {
    padding: 30px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 100px);
}
.logContent {
    width: 640px;
}
.meta {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 15px;
}


.commentBox {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.commentContent {
    width: 640px;
}