
.container {
    padding-bottom: 10vh;
    overflow: hidden;
    position: relative;
}
.logContentBox {
    display: flex;
    justify-content: center;
    margin: 0 15px;
}
.logContent {
    max-width: 755px;
    margin-top: 15px;
    flex: 1 1 auto;
}


.commentBox {
    display: flex;
    justify-content: center;
    margin: 10px 15px;
}
.commentContent {
    max-width: 755px;
    flex: 1 1 auto;
}
.footerActions {
    display: flex;
    align-items: center;
}

.hide {
    display: none;
}

.editorOuter {
    position: fixed;
    z-index: 5;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}